# Steps: 
1. Determine which variables to use
2. Cut down size of dataframe (maybe top 10 and do dummies? or an aggregate (# of pitbulls per month)
3. Create multivariate dataframe, including timestamp index
4. Scale, series_to_supervise
5. Fit data, split to train_test sets
6. Use univariate LSTM, tune to lowest MSE
7. Compare univariate to multivariate scores, make analysis
8. Save model and fit into function
9. Write new prediction function? 
10. Conclude, interpret
11. Make more visualizations
12. Blog about it
13. Where do we go from here? 
14. What is the "so what"?

In [2]:
pip install --user dataframe_image

Collecting dataframe_image
  Using cached https://files.pythonhosted.org/packages/75/ce/8b9f506ecf5b177471e0f04117565b6eaf83f13749deca3d3b35f52f9fd6/dataframe_image-0.1.1-py3-none-any.whl
Requirement already satisfied: requests in c:\users\kayce_000\anaconda3\lib\site-packages (from dataframe_image) (2.21.0)
Requirement already satisfied: nbconvert>=5 in c:\users\kayce_000\anaconda3\lib\site-packages (from dataframe_image) (5.4.1)
Requirement already satisfied: beautifulsoup4 in c:\users\kayce_000\anaconda3\lib\site-packages (from dataframe_image) (4.7.1)
Collecting matplotlib>=3.1 (from dataframe_image)
  Using cached https://files.pythonhosted.org/packages/24/02/202982cbc4ab7a5a87c7f8d16e51d464016af742d5fb2d2b6b23116caec5/matplotlib-3.3.3-cp37-cp37m-win_amd64.whl
Requirement already satisfied: aiohttp in c:\users\kayce_000\anaconda3\lib\site-packages (from dataframe_image) (3.7.3)
Requirement already satisfied: pandas>=0.24 in c:\users\kayce_000\anaconda3\lib\site-packages (from dataframe_image) (0.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\kayce_000\anaconda3\lib\site-packages (from requests->dataframe_image) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\kayce_000\anaconda3\lib\site-packages (from requests->dataframe_image) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\kayce_000\anaconda3\lib\site-packages (from requests->dataframe_image) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kayce_000\anaconda3\lib\site-packages (from requests->dataframe_image) (2019.3.9)
Requirement already satisfied: mistune>=0.8.1 in c:\users\kayce_000\anaconda3\lib\site-packages (from nbconvert>=5->dataframe_image) (0.8.4)
Requirement already satisfied: jinja2 in c:\users\kayce_000\anaconda3\lib\site-packages (from nbconvert>=5->dataframe_image) (2.10)
Requirement already satisfied: pygments in c:\users\kayce_000\anaconda3\lib\site-packages (from nbconvert>=5->dataframe_image) (2.3.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\kayce_000\anaconda3\lib\site-packages (from nbconvert>=5->dataframe_image) (4.3.2)
Requirement already satisfied: jupyter_core in c:\users\kayce_000\anaconda3\lib\site-packages (from nbconvert>=5->dataframe_image) (4.4.0)
Requirement already satisfied: nbformat>=4.4 in c:\users\kayce_000\anaconda3\lib\site-packages (from nbconvert>=5->dataframe_image) (4.4.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\kayce_000\anaconda3\lib\site-packages (from nbconvert>=5->dataframe_image) (0.3)
Requirement already satisfied: bleach in c:\users\kayce_000\anaconda3\lib\site-packages (from nbconvert>=5->dataframe_image) (3.1.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\kayce_000\anaconda3\lib\site-packages (from nbconvert>=5->dataframe_image) (1.4.2)
Requirement already satisfied: testpath in c:\users\kayce_000\anaconda3\lib\site-packages (from nbconvert>=5->dataframe_image) (0.4.2)
Requirement already satisfied: defusedxml in c:\users\kayce_000\anaconda3\lib\site-packages (from nbconvert>=5->dataframe_image) (0.5.0)
Requirement already satisfied: soupsieve>=1.2 in c:\users\kayce_000\anaconda3\lib\site-packages (from beautifulsoup4->dataframe_image) (1.8)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kayce_000\anaconda3\lib\site-packages (from matplotlib>=3.1->dataframe_image) (1.0.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\kayce_000\anaconda3\lib\site-packages (from matplotlib>=3.1->dataframe_image) (2.8.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\kayce_000\anaconda3\lib\site-packages (from matplotlib>=3.1->dataframe_image) (8.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\kayce_000\anaconda3\lib\site-packages (from matplotlib>=3.1->dataframe_image) (2.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\kayce_000\anaconda3\lib\site-packages (from matplotlib>=3.1->dataframe_image) (0.10.0)
Requirement already satisfied: numpy>=1.15 in c:\users\kayce_000\anaconda3\lib\site-packages (from matplotlib>=3.1->dataframe_image) (1.16.2)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\kayce_000\anaconda3\lib\site-packages (from aiohttp->dataframe_image) (1.6.3)
Requirement already satisfied: async-timeout<4.0,>=3.0 in c:\users\kayce_000\anaconda3\lib\site-packages (from aiohttp->dataframe_image) (3.0.1)
Requirement already satisfied: attrs>=17.3.0 in c:\users\kayce_000\anaconda3\lib\site-packages (from aiohttp->dataframe_image) (19.1.0)
Requirement already satisfied: typing-extensions>=3.6.5 in c:\users\kayce_000\anaconda3\lib\site-packages (from aiohttp->dataframe_image) (3.7.4.3)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\kayce_000\anaconda3\lib\site-packages (from aiohttp->dataframe_image) (5.1.0)
Requirement already satisfied: pytz>=2011k in c:\users\kayce_000\anaconda3\lib\site-packages (from pandas>=0.24->dataframe_image) (2018.9)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\kayce_000\anaconda3\lib\site-packages (from jinja2->nbconvert>=5->dataframe_image) (1.1.1)
Requirement already satisfied: decorator in c:\users\kayce_000\anaconda3\lib\site-packages (from traitlets>=4.2->nbconvert>=5->dataframe_image) (4.4.0)
Requirement already satisfied: ipython-genutils in c:\users\kayce_000\anaconda3\lib\site-packages (from traitlets>=4.2->nbconvert>=5->dataframe_image) (0.2.0)
Requirement already satisfied: six in c:\users\kayce_000\anaconda3\lib\site-packages (from traitlets>=4.2->nbconvert>=5->dataframe_image) (1.12.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\kayce_000\anaconda3\lib\site-packages (from nbformat>=4.4->nbconvert>=5->dataframe_image) (3.0.1)
Requirement already satisfied: webencodings in c:\users\kayce_000\anaconda3\lib\site-packages (from bleach->nbconvert>=5->dataframe_image) (0.5.1)
Requirement already satisfied: setuptools in c:\users\kayce_000\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=3.1->dataframe_image) (49.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\kayce_000\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5->dataframe_image) (0.14.11)
Installing collected packages: matplotlib, dataframe-image
Successfully installed dataframe-image-0.1.1 matplotlib-3.3.3
Note: you may need to restart the kernel to use updated packages.

  The script dataframe_image.exe is installed in 'C:\Users\kayce_000\AppData\Roaming\Python\Python37\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from pandas.plotting import table
import dataframe_image as dfi

In [2]:
df = pd.read_csv('data/raw_data.csv')

In [3]:
df.set_index('ValidDate', inplace = True)

In [4]:
df = df.drop(['ExpYear'], axis = 1)

In [5]:
df.head()

,LicenseType,Breed,Color,DogName,OwnerZip
ValidDate,,,,,
2014-12-02 09:40:53,Dog Individual Neutered Male,COCKAPOO,BROWN,CHARLEY,15236
2014-12-02 09:45:25,Dog Senior Citizen or Disability Neutered Male,GER SHEPHERD,BLACK/BROWN,TACODA,15238
2014-12-02 09:47:55,Dog Individual Spayed Female,GER SHEPHERD,BLACK,CHARLY,15205
2014-12-02 10:02:33,Dog Individual Spayed Female,LABRADOR RETRIEVER,BLACK,ABBEY,15143
2014-12-02 10:05:50,Dog Individual Female,GER SHORTHAIR POINT,BROWN,CHARLEY,15228

In [6]:
df['Breed'].value_counts().sum()

286724

In [7]:
#I would definitely need to look at cutting that number down- that would be way too noisy.
#My initial thought is to see what the top 10 breeds are
#Maybe from there I can either to dummies or aggregate

In [8]:
top_ten = df['Breed'].value_counts()[:11]

In [9]:
top_ten
#bar chart here

MIXED                  29009
LABRADOR RETRIEVER     19713
LAB MIX                17714
GOLDEN RETRIEVER        9344
GER SHEPHERD            8437
SHIH TZU                7976
BEAGLE                  7960
CHIHUAHUA               7664
TAG                     7475
AM PIT BULL TERRIER     7332
YORKSHIRE TERRIER       6268
Name: Breed, dtype: int64

In [10]:
#TAG is not a type of dog. they are denoting that they are putting tags on an existing dog

In [11]:
tag_df = df.loc[df['Breed'] == 'TAG']
tag_df.loc[(tag_df['DogName'] == 'SHADOW') & (tag_df['OwnerZip'] == 15102)]

,LicenseType,Breed,Color,DogName,OwnerZip
ValidDate,,,,,
2015-03-12 11:11:36,Dog Individual Spayed Female,TAG,BLACK,SHADOW,15102
2017-01-10 09:39:46,Dog Individual Spayed Female,TAG,BLACK,SHADOW,15102
2015-12-11 10:35:08,Dog Individual Spayed Female,TAG,BLACK,SHADOW,15102

In [12]:
a = len(tag_df['DogName'])
b = len(tag_df['DogName'].value_counts())
a-b

5708

In [13]:
#Time to zoom out. What am i hoping to accomplish here? 
#A multivariate time series. OG problem: predict number of licenses dispensed per day. 
#New problem: predict licenses dispenses while considering extra variables. 
#I think top 10 dummies is actually going to benefit me most. 
#Let's start with breed: top 9 and 'other'
## investigate whether an 'other' column is going to unbalance the data too bad; 
#we may need to keep it to top 10 with a disclaimer

In [14]:
df.head()

,LicenseType,Breed,Color,DogName,OwnerZip
ValidDate,,,,,
2014-12-02 09:40:53,Dog Individual Neutered Male,COCKAPOO,BROWN,CHARLEY,15236
2014-12-02 09:45:25,Dog Senior Citizen or Disability Neutered Male,GER SHEPHERD,BLACK/BROWN,TACODA,15238
2014-12-02 09:47:55,Dog Individual Spayed Female,GER SHEPHERD,BLACK,CHARLY,15205
2014-12-02 10:02:33,Dog Individual Spayed Female,LABRADOR RETRIEVER,BLACK,ABBEY,15143
2014-12-02 10:05:50,Dog Individual Female,GER SHORTHAIR POINT,BROWN,CHARLEY,15228

In [15]:
df.isnull().sum()

LicenseType    0
Breed          0
Color          0
DogName        0
OwnerZip       0
dtype: int64

In [16]:
breed_df = pd.DataFrame(df.Breed)
breed_df.set_index(breed_df.index, inplace = True)
breed_df.index = pd.to_datetime(breed_df.index)

MIXED
LABRADOR RETRIEVER     
LAB MIX                
GOLDEN RETRIEVER        
GER SHEPHERD            
SHIH TZU            
BEAGLE                  
CHIHUAHUA                                  
AM PIT BULL TERRIER     
YORKSHIRE TERRIER

In [17]:
df_top_ten = breed_df[(breed_df['Breed'] == 'MIXED') |
                     (breed_df['Breed'] == 'LABRADOR RETRIEVER') |
                     (breed_df['Breed'] == 'LAB MIX') |
                     (breed_df['Breed'] == 'GOLDEN RETRIEVER') |
                     (breed_df['Breed'] == 'GER SHEPHERD') |
                     (breed_df['Breed'] == 'SHIH TZU') |
                     (breed_df['Breed'] == 'BEAGLE') |
                     (breed_df['Breed'] == 'CHIHUAHUA') |
                     (breed_df['Breed'] == 'AM PIT BULL TERRIER')|
                     (breed_df['Breed'] == 'YORKSHIRE TERRIER')]
df_top_ten.head()

                                  Breed
ValidDate
2014-12-02 09:45:25        GER SHEPHERD
2014-12-02 09:47:55        GER SHEPHERD
2014-12-02 10:02:33  LABRADOR RETRIEVER
2014-12-02 10:08:13   YORKSHIRE TERRIER
2014-12-02 10:15:30   YORKSHIRE TERRIER

In [18]:
print("Breed df: ", len(breed_df))
print("Top Ten df: ", len(df_top_ten))
print("Difference: ", len(breed_df)-len(df_top_ten))

Breed df:  286724
Top Ten df:  121417
Difference:  165307

In [19]:
ten_dummies = pd.get_dummies(df_top_ten['Breed'])
ten_dummies.head()

,AM PIT BULL TERRIER,BEAGLE,CHIHUAHUA,GER SHEPHERD,GOLDEN RETRIEVER,LAB MIX,LABRADOR RETRIEVER,MIXED,SHIH TZU,YORKSHIRE TERRIER
ValidDate,,,,,,,,,,
2014-12-02 09:45:25,0,0,0,1,0,0,0,0,0,0
2014-12-02 09:47:55,0,0,0,1,0,0,0,0,0,0
2014-12-02 10:02:33,0,0,0,0,0,0,1,0,0,0
2014-12-02 10:08:13,0,0,0,0,0,0,0,0,0,1
2014-12-02 10:15:30,0,0,0,0,0,0,0,0,0,1

In [20]:
breed = ten_dummies.resample('B').sum()
breed.head()

,AM PIT BULL TERRIER,BEAGLE,CHIHUAHUA,GER SHEPHERD,GOLDEN RETRIEVER,LAB MIX,LABRADOR RETRIEVER,MIXED,SHIH TZU,YORKSHIRE TERRIER
ValidDate,,,,,,,,,,
2014-12-02,2.0,1.0,1.0,4.0,2.0,3.0,9.0,10.0,1.0,3.0
2014-12-03,6.0,8.0,2.0,3.0,8.0,17.0,12.0,40.0,2.0,3.0
2014-12-04,5.0,7.0,2.0,7.0,17.0,17.0,29.0,51.0,12.0,13.0
2014-12-05,4.0,2.0,5.0,2.0,9.0,10.0,10.0,21.0,5.0,3.0
2014-12-08,5.0,5.0,8.0,11.0,9.0,14.0,23.0,47.0,8.0,10.0

In [21]:
breed['Total'] = breed.sum(axis = 1)
breed.head()

,AM PIT BULL TERRIER,BEAGLE,CHIHUAHUA,GER SHEPHERD,GOLDEN RETRIEVER,LAB MIX,LABRADOR RETRIEVER,MIXED,SHIH TZU,YORKSHIRE TERRIER,Total
ValidDate,,,,,,,,,,,
2014-12-02,2.0,1.0,1.0,4.0,2.0,3.0,9.0,10.0,1.0,3.0,36.0
2014-12-03,6.0,8.0,2.0,3.0,8.0,17.0,12.0,40.0,2.0,3.0,101.0
2014-12-04,5.0,7.0,2.0,7.0,17.0,17.0,29.0,51.0,12.0,13.0,160.0
2014-12-05,4.0,2.0,5.0,2.0,9.0,10.0,10.0,21.0,5.0,3.0,71.0
2014-12-08,5.0,5.0,8.0,11.0,9.0,14.0,23.0,47.0,8.0,10.0,140.0

In [22]:
breed.to_csv('data/breed_daily_totals.csv')

In [24]:
image_df = breed.head()

In [31]:
image_df = image_df.background_gradient()
dfi.export(image_df, 'blog_image.png')

In [23]:
#next I would like to get a pretty visualization of this- a colorful line chart
#consider an 'other' column, pros and cons